@charset "UTF-8";
* {box-sizing:border-box;}

.art-box{
	height:120px;
	position:relative;
	background-repeat:no-repeat;
	background-color:#FFFFFF;
	background-position:center;
	opacity:.6;
	filter: alpha(opacity=60); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	/* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)";
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	border: 5px #ffffff solid;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.65);
	margin: 6px;
	/* HOVER OFF */
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s;
}
.art-box:hover{
	height:120px;
	position:relative;
	background-repeat:no-repeat;
	background-color:#FFFFFF;
	background-position:center;
	opacity: 1;
	filter: alpha(opacity=100); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	/* IE6+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)";
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 5px #ffffff solid;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.85);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.85);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.85);
	/* HOVER OFF */
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s;
}
/*icons*/
.icon{
	width:30px;
	height:30px;
	position:relative;
	background-repeat:no-repeat;
	background-color:#FFFFFF;
	background-position:center;
	opacity:.9;
	/* IE6+ */
	filter: alpha(opacity=90); /* IE6+ */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)";
	-moz-border-radius: 17px;
	border-radius: 17px;
	-webkit-border-radius: 17px;
	border: 2px #ffffff solid;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.65);
	margin:7px 3px 7px 3px;
	/* HOVER OFF */
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s;
	z-index:2000;
	
}

.icon:hover{
	opacity:1;
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 2px #ffffff solid;
	-webkit-box-shadow:	-2px 5px 5px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:	-2px 5px 5px rgba(50, 50, 50, 0.38);
	box-shadow:			-2px 5px 5px rgba(50, 50, 50, 0.38);
	margin:7px 3px 7px 3px;
}
.icon:hover:before {
  display: block;
  position: absolute; 
  padding: .5em;
  content: attr(title);
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: 37px;
  background: rgba(0,0,0,.6);
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;    
  color: #fefdfc;
  font-size: .86em;
  font-family: 'Carrois Gothic SC', sans-serif;
  transition: .19s ease-in-out;
	-webkit-transition: .19s ease-in-out;
	transition-delay: .09s;
	-webkit-transition-delay: .09s;

}
.icon:hover:after {
  position: absolute;
  display: block;
  content: "";  
  border-color: transparent transparent  rgba(0,0,0,.6) transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top: 17px;
  left:.5em;
  transition: .19s ease-in-out;
	-webkit-transition: .19s ease-in-out;
	transition-delay: .09s;
	-webkit-transition-delay: .09s;
}
.facebook{
	background-image:url(../imgs/facebook.png);
	background-size:100%;
	float:left;
	
}
.pinterest{
	background-image:url(../imgs/pinterest.png);
	background-size:100%;
	float:left;
}
.linkedin{
	background-image:url(../imgs/linkedin.png);
	background-size:100%;
	float:left;
}
.email{
	background-image:url(../imgs/gmail.png);
	background-size:100%;
	float:left;
}
.resume{
	background-image:url(../imgs/resume.png);
	background-size:100%;
	float:left;
}


/*graphic design*/
.cosmos{
	background-image:url(../imgs/art/cosmos.png);
	background-size:150%;
	
}
.HM-leaf-montez{
	background-image:url(../imgs/art/HM-leaf-montez.png);
	background-size:100%;
}
.boston{
	background-image:url(../imgs/art/boston.jpg);
	background-size:100%;
}
.atoms{
	background-image:url(../imgs/art/atoms.jpg);
	background-size:150%;
}
.details{
	background-image:url(../imgs/art/details.png);
	background-size:100%;
}
.k-logo{
	background-image:url(../imgs/art/k-logo.jpg);
	background-size:100%;
}
.pinkad{
	background-image:url(../imgs/art/pinkad.jpg);
	background-size:150%;
}
.puppy{
	background-image:url(http://i.imgur.com/9ZV3OG4.jpg);
	background-size:200%;
}


/*fine art*/
.ale{
	background-image:url(../imgs/art/ale.jpg);
	background-size:120%;
}
.bianka{
	background-image:url(../imgs/art/bianka.jpg);
	background-size:150%;
}
.broadst{
	background-image:url(../imgs/art/broadst.jpg);
	background-size:100%;
}
.dustin{
	background-image:url(../imgs/art/dustin.jpg);
	background-size:150%;
}
.aquatint{
	background-image:url(../imgs/art/aquatint.jpg);
	background-size:200%;
}
.fruits{
	background-image:url(../imgs/art/fruits.jpg);
	background-size:200%;
}
.labrecque{
	background-image:url(../imgs/art/labrecque.jpg);
	background-size:150%;
}
.thefairy{
	background-image:url(../imgs/art/thefairy.jpg);
	background-size:200%;
}
.mermaid1{
	background-image:url(../imgs/art/mermaid1.jpg);
	background-size:200%;
}
.ink-faces{
	background-image:url(../imgs/art/ink-faces.png);
	background-size:200%;
}
.profile{
	background-image:url(../imgs/art/profile.jpg);
	background-size:110%;
}
.selfportrait{
	background-image:url(../imgs/art/selfportrait.jpg);
	background-size:130%;
}
/*web*/
.puppy{
	background-image:url(http://i.imgur.com/9ZV3OG4.jpg);
	background-size:200%;
}
.puppy{
	background-image:url(http://i.imgur.com/9ZV3OG4.jpg);
	background-size:200%;
}
.puppy{
	background-image:url(http://i.imgur.com/9ZV3OG4.jpg);
	background-size:200%;
}
.puppy{
	background-image:url(http://i.imgur.com/9ZV3OG4.jpg);
	background-size:200%;
}
.puppy{
	background-image:url(http://i.imgur.com/9ZV3OG4.jpg);
	background-size:200%;
}
/*digital art*/

.woods{
	background-image:url(../imgs/art/woods.png);
	background-size:200%;
}
.xbox{
	background-image:url(../imgs/art/xbox.jpg);
	background-size:100%;
}
.face{
	background-image:url(../imgs/art/face.jpg);
	background-size:100%;
}
.rawfairy{
	background-image:url(../imgs/art/rawfairy.jpg);
	background-size:120%;
}

