@charset "UTF-8";
/* CSS Document */
/* font-family: 'Petit Formal Script', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Crete Round', serif;
font-family: 'Sansita One', cursive;
font-family: 'Carrois Gothic SC', sans-serif;
*/

html, body {
	min-width:400px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background:#3E342E;
	/*background: url(http://i.imgur.com/4el380i.gif) repeat left top;*/
}
#header{
	 width: 100%;
	 height: auto;
     margin: 0;
     padding:0 0 20px 0;
	 background: #3E342E url(../imgs/bg-glow.png) center no-repeat;
	 position:relative;
}
.header-content{
	 width: 70%;
     margin: 0 auto;
     padding: 0;
	 position:relative;
}

#header ul{
	 width: 440px;
     margin: 0 auto;
	 position:relative;
	 color:#A0907E;
	text-align:center;
	text-shadow: 0px 0px 4px rgba(179, 174, 150, 0.35),1px 1px white, -1px -1px #A87350;
	
}
#header li{
	 width: 100px;
	 position:relative;
	 display:inline-block;
	 z-index:1010;
}
#header h1{
	font-family: 'Oleo Script', cursive;
	font-size:40pt;
	color:/*#FFFCF3*/#fffefd;
	text-align:center;
	text-shadow: 2px 1px 1px #6B0000;
	margin: -5px 0px 0px 0px;
	padding:0px;
	
}
#header h2{
	font-family: 'Carrois Gothic SC', sans-serif;
	color:#FFFCF3;
	text-shadow: 0px 0px 4px rgba(179, 174, 150, 0.35);
	font-size:2.5em;
}
#header h3{
	font-family: 'Petit Formal Script', cursive;
	color:#DBB99E;
	font-size:1.2em;
}

.middler{
	 width: 96%;
	 height:auto;
     margin: 0 auto;
     padding: 0;
	 position:relative;
}
 .content{
	 width:70%;
	 margin: 0 auto;
	 position: relative;
	 overflow: hidden;
	 padding:10px 0px 10px 0px;
 }
 .art-section{
	 width:100%;
	 margin: 0;
	 padding:0;
	 position: relative;
	 clear:both;
 }
 .art-content{
	 width:70%;
	 margin: 0 auto;
	 padding:10px 100px 10px 100px;
	 position: relative;
 }

.middler footer{
	width: 100%; 
	height: 36px;
	position:absolute;
	bottom:0px;
}

#footer{
	 width: 100%;
	 height: 157px;
     margin: 20px 0px 0px 0px;
     padding: 0;
     background: #3E342E;
	 position:relative;
	 bottom:0px;
}
#footer ul{
	width:100%;
	 margin: 0 auto;
	 position:relative;
	 color:#A0907E;
	text-align:center;
	display:inline-block;
	
}
#footer li{
	 display:inline-block;
	 margin: 0px 4px 0px 4px;
}


#footer li a{
	font-family: 'Crete Round', serif;
	color:#5f564f;
	font-size:1.2em;
	text-decoration:none;
	
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s; /* Safari */
}
#footer li a:hover{
	color:#f27a59;
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s; /* Safari */
}

.heart{
	font-size:4em;
	color:#FAC6BE;
	text-shadow: 0px 0px 4px rgba(179, 174, 150, 0.35),1px 1px white, -1px -1px #A87350;
	margin:0 auto;
	width:200px;
	text-align:center;
	position:relative;
	bottom:0px;
}

.text{
	margin:0 auto;
	width:80%;
	position:relative;
	text-align:center;
	padding-top:20px;
}

p {
	font-size:.7em;
}

 h2, h3, p {
	 margin: 0;
     padding: 0;
 }
 .graphic-section{
	 background:#fffefd url(../imgs/texture.png);
	 padding:8px 0px 8px 0px;
	 min-height:270px;
 }
 .fine-art-section{
	 background:#f8f3ee url(../imgs/texture.png);
	 padding:8px 0px 8px 0px;
	 min-height:270px;
 }
 .web-section {
	 background:#f1e9e0 url(../imgs/texture.png);
	 padding:8px 0px 8px 0px;
	 min-height:270px;
 }
 .digital-section{
	 background:#e6dcd3 url(../imgs/texture.png);
	 padding:8px 0px 8px 0px;
	 min-height:270px;
 }
 
.graphic-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	top:0px;
	background-image:url(../imgs/graphic-divider.png);
	background-repeat:repeat-x;
	margin:0 auto;
}
.fine-art-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	top:0px;
	background-image:url(../imgs/fine-art-divider.png);
	background-repeat:repeat-x;
	margin:0 auto;
}
.web-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	top:0px;
	background-image:url(../imgs/web-divider.png);
	background-repeat:repeat-x;
	margin:0 auto;
}
.digital-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	top:0px;
	background-image:url(../imgs/digital-divider.png);
	background-repeat:repeat-x;
	margin:0 auto;
}
.footer-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	bottom:0px;
	background-image:url(../imgs/footer-divider.png);
	background-repeat:repeat-x;
	margin:0 auto;
}